/** CSS for edit area, originally from @Jamesneakz (Twitter) */
@import "colours.scss";

.gridcontainer{
	display: inline-grid;
	grid-template-columns: repeat(4,1fr);
	grid-template-rows: repeat(14,1fr);
	width: 100%;
	height: 100%;
}

.gridcontainer div{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-template-rows: repeat(10,1fr);
	grid-gap: 0;
	background-color: #1f1f1f;
}

.gridcontainer * .score{
	grid-column-start: 1;
	grid-column-end: 3;
	display: block;
	background-color: #1f1f1f;
	text-align: center;
	grid-row-start: 4;
	/*grid-row-end: 9;*/
	font-family: "Digital dream";
	color: #20c20e;
	text-shadow: 0 0 10px #20c20e;
}

.name{
	grid-row-start: 2;
	grid-row-end: 4;
	grid-column-start: 1;
	grid-column-end: 3;
	background-color: magenta;
	font-family: "Raleway";
	background-color: #1f1f1f;
	text-align: center;
	display: block !important;
  color: #fff;
}

.gridcontainer * .score, .name {
  font-size: 60px;
}

.minusone{
	grid-row-start: 6;
	grid-column-start: 1;
	background-color: $red !important;
	text-align: right;
}

.plusone{
	grid-row-start: 6;
	grid-column-start: 2;
	background-color: $green !important;
}

.plus400 {
	grid-row-start: 7;
	grid-column-start: 2;
	background-color: #448AFF !important;
}

.minus400 {
	grid-row-start: 7;
	grid-column-start: 1;
	background-color: #7C4DFF !important;
}

.plus800 {
	grid-row-start: 8;
	grid-column-start: 2;
	background-color: #795548 !important;
}

.minus800 {
	grid-row-start: 8;
	grid-column-start: 1;
	background-color: #FF5722 !important;
}

.plus900 {
	grid-row-start: 9;
	grid-column-start: 2;
	background-color: #8BC34A !important;
}

.minus900 {
	grid-row-start: 9;
	grid-column-start: 1;
	background-color: #E91E63 !important;
}

.scorechange {
  font-size: 50px;
  color: #fff;
  text-align: center;
}

.one{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 11;
}

.two{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 11;
}

.three{
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 11;
}

.four{
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 11;
}

form {
	grid-row-start: 10;
	grid-column-start: 1;
	grid-column-end: 3;
	padding: 10px;
	.form-group {
		display: block !important;
	}
}

html{
	background-color: #1f1f1f;
}
