/**
 * Styles for written round
 */
@import "colours.scss";

.submit-ans {
  .row div {
    height: 4em !important;
  }
  .form-control, button {
    width: 100% !important;
    height: 100% !important;
    margin-left: auto;
    margin-right: auto;
  }
  .row {
    margin-top: 20px !important;
  }
}

.written-table {
  width: 100%;
  text-align: center
}

.written-wrapper {
  height: 100%;
  width: 100%;
  background-color: $black;
  color: $white;
  td, th {
    border: solid $white 2px;
    text-align: center;
    height: 50px;
    font-family: 'Raleway', sans-serif;
  }
  .check-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    font-size: 1.5em;
  }
}

%written-score-button {
  button {
    width: 100%;
    height: 100%;
  }
  width: 3em;
}

.written-right {
  @extend %written-score-button;
  background-color: $green;
  button {
    background-color: $green;
  }
}

.written-wrong {
  @extend %written-score-button;
  background-color: $red;
  button {
    background-color: $red;
  }
}